{% extends 'layouts/auth.html.twig' %}

{% block title %}Sign Up!{% endblock %}

{% block page_title %}Symfony Sign Up{% endblock %}

{% block card_title %}Create your new account{% endblock %}

{% block card_content %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            {{ flash_error }}
        </div>
    {% endfor %}

    {{ form_start(registrationForm) }}

    {% if form_errors(registrationForm) %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            {{ form_errors(registrationForm) }}
        </div>
    {% endif %}

    <div class="mb-4">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
    </div>

    <div class="mb-1">
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword) }}
    </div>

    <div class="mt-3 flex items-center">
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_label(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-4">
        Sign up
    </button>

    {{ form_end(registrationForm) }}
{% endblock %}
